<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://kit.fontawesome.com/146ae40033.js" crossorigin="anonymous"></script>
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="container mt-2">
			{% for label, messages in app.session.flashbag.all %}
				{% for msg in messages %}
					<div class="alert alert-{{ label }}" role="alert">
						{{ msg }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{% block style %}{% endblock %}
	</body>
</html>
